@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    overflow: hidden;
    background-color: black;
}
main{
    z-index: 1;
    background-color: black;
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
}
#myCanvas, #landscape{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
#output{
    position: absolute;
    top: 0; left: 100%;
    transform: translateX(-100%);
    width: 40vw; height: 100vh;
    max-width: 40vh;

    background-color: black;
    box-shadow: -5px 0 5px rgb(60,60,60);
}
#nn{
    z-index: 0; opacity: 0;
    user-select: none;

    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: black;

    color: white;
}
#nn div{
    position: absolute;
}
#nn div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2em;
}
.tableSql{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;

    padding: 5%;

    color: white;
}
.tableSql h3{
    border-bottom: 0.1vh solid white;
}
.customMenu{
    position: absolute;
    top: 110%; left: 10%;

    backdrop-filter: blur(2px);
    /* border: 0.1vh solid white; */
    box-shadow: 0 0 0.3vh white inset;
    border-radius: 5px;

    padding: 0.25%;
    color: white;

    user-select: none;

    width: auto; height: auto;
    cursor: pointer;
    background-color: rgba(100,100,100,0.6);
}
.customMenu li{
    padding: 0.5vw;
    margin: 0.2vw;

    list-style-type: none;
}
.customMenu li:hover{
    background-color: rgba(100,100,100);
    border-radius: 5px;
}
.tabulka{
    position: absolute;
    cursor: move;
    
    user-select: none;

    border: 0.1vh solid white;
    width: 16vh;

    color: white;

    padding: 0.5vh;
    backdrop-filter: blur(3px);
    border: 0.1vh solid white;
    box-shadow: 0 0 1vh rgba(255,255,255,0.6);
    border-radius: 5px;
}
.tabulka h3{
    text-align: center;
    border-bottom: 0.1vh solid white;
}
.tabulka input{
    
    font-family: "Roboto", sans-serif;

    color: white;
    width: 9vh;
    background: none;
    border: none;
    border-bottom: 0.1vh solid white;
    height: 100%;

}
.tabulka nav{
    display: flex;
    cursor: default;
}
.tabulka div{
    padding: 0.3vh; margin: 0.2vh;
    border-radius: 5px;
    cursor: pointer;
}
.tabulka div:hover{
    background-color: rgba(255,255,255,0.4);
    transition: 0.1s;
}
.atribut, .dataTyp{
    width: 2vh; height: 2vh;
}
.dataTyp{
    font-size: 0.8em;
}
.nazev{
    width: 10vh;
}
@media (orientation: portrait){
    .tabulka{
        width: 16vw;
    }
    .tabulka div{
        padding: 0.3vw; margin: 0.2vw;
    }
    .nazev{
        width: 9vw;
    }
    .tabulka input{
        width: 9vw;
    }
}
@media (max-width: 480px){
    #nn{
        z-index: 999; opacity: 1;
    }
}